<%= simple_form_for([:admin, @brand]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <%= link_to 'New Brand', new_admin_brand_path, class: "btn btn-primary btn-block" %>
<% end %>
